@import '@doabit/semantic-ui-sass/src/scss/semantic-ui.scss';

body, .app-container {
  min-height: 100vh;
}

.inverted-secondary {
  background-color: rgba(255, 255, 255, 0.15) !important;
  //box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.2) !important;
  border: solid 1px rgba(255, 255, 255, 0.2) !important;
  box-shadow: none !important;
}

.card {
  min-height: 400px !important;
}

.nav, .mb-3 {
  margin-bottom: 3rem;
}

#messages {
  overflow: auto;
  max-height: 500px;
}